.idea/
lol-env/
lol_crawler/dist
lol_crawler/crawl_job/
lol_crawler/lol_crawler.egg_info
key
.DS_Store
notebooks/

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
lib
lib64

*/__pycache__
*.pyc
*.pyo